@use './variables';
@use './mixins';

:root {
	// colors
	@each $color, $shades in variables.$colors {
		@each $shade, $value in $shades {
			--clr-#{$color}-#{$shade}: #{$value};
		}
	}

	// font families
	--ff-primary: 'Plus Jakarta Sans', sans-serif;

	// font weights
	--fw-400: 500;
	--fw-700: 700;

	// font sizes
	@each $screen, $sizes in variables.$font-sizes {
		@if $screen == small {
			@each $size, $value in $sizes {
				--fz-#{$size}: #{$value};
			}
		} @else {
			@include mixins.mq($screen) {
				@each $size, $value in $sizes {
					--fz-#{$size}: #{$value};
				}
			}
		}
	}

	// spacings
	@each $unit, $sizes in variables.$spacings {
		@each $size, $value in $sizes {
			--spacing-#{$unit}-#{$size}: #{$value};
		}
	}
}
