.container {
	--max-width: 111rem;
	--padding-inline: clamp(var(--spacing-rem-300), 10vw - 2em, var(--spacing-rem-600));

	width: min(var(--max-width), 100% - 2 * var(--padding-inline));
	margin-inline: auto;
}
